<div class="headerItems d-flex justify-content-between align-items-center
">
  <div routerLink="/" class="logo d-flex justify-content-center ">
    <h2>LOGO</h2>
  </div>

  <div class="headerListMenu justify-content-between d-flex align-items-center">

    <img src="../../../assets/svg/twitter.svg" alt="twitter">
    <img src="../../../assets/svg/facebook.svg" alt="facebook">
    <img src="../../../assets/svg/insta.svg" alt="instagram">

    <div class="burger d-flex align-items-center justify-content-center flex-column">
      <div class="vector"></div>
      <div class="vector2"></div>
      <div class="vector vector3"></div>
    </div>
  </div>
</div>
