.headerItems{
  height: 10vh;
  padding: 0 2.5%;
}
.logo{
  text-align: right;
}
.logo h2{
  margin: 0;
  color: #4F4F4F;
  line-height: 25px;
  cursor: pointer;
  font-size: 25px;
  font-family: Roboto Condensed sans-serif;
  font-style: normal;
  font-weight: bold;
}
img{
  cursor: pointer;
}
img:hover{
  filter:invert(100%);
  transition: .2s;
}
.headerListMenu{
  width: 15%;
}

.burger{
  margin-left: 10%;
  height: auto;
  cursor: pointer;
}

.vector{
  width: 15px;
  height: 3px;
  background: #4E5D7A;
}

.vector2{
  width: 30px;
  height: 3px;
  background: #4E5D7A;
  margin-top: 6px;
  margin-bottom: 6px;
}

