<div class="bigBlocks d-flex align-items-center">
  <div class="bigLeft d-flex flex-column">
    <div class="allIn  d-flex flex-row">
      <div class="helper"></div>
      <div class="top"></div>
    </div>
    <div class="middle d-flex ">
      <div class="leftBlock" *ngIf="isNull(technologies)">
        <div class="image-carousel w-100 h-100"  *ngFor="let image of technologies; let i = index">
          <div [style.background]="'url(' + (image.image|imagePipe) + ')'" class="w-100 h-100 topImage"
               [@enterAnimation] *ngIf="i==index"></div>
        </div>
        <div class="justify-content-center leftBlockContent">
          <div class="line"></div>
          <p>0{{index+1}}</p>
        </div>
      </div>
      <div class="rightBlock d-flex flex-column justify-content-between">
        <div class="arrowUp d-flex justify-content-center" (click)="scroll(true)">
          <img src="../../../../assets/svg/arrowUp.svg" alt="arrow">
        </div>
        <div>
          <div class="dot" [ngClass]="{'dotActive':index==i}"
               *ngFor="let techology of technologies; let i = index"></div>
        </div>
        <div class="arrowDown d-flex justify-content-center" (click)="scroll(false)">
          <img src="../../../../assets/svg/arrowDown.svg" alt="arrow">
        </div>
      </div>
    </div>
    <div class="allIn  d-flex flex-row">
      <div class="helper"></div>
      <div class="top2"></div>
    </div>
  </div>
  <div class="bigRight">
    <div *ngIf="isNull(selectedTechnology)" class="content d-flex flex-column justify-content-center ">
      <div class="linetext">
        <h2>{{selectedTechnology.name}}</h2>
        <div class="line"></div>
      </div>
      <p *ngIf="show">{{this.selectedTechnology.descriptions[0].description}} </p>
      <input type="button" value="{{home-button|translate}}" >
    </div>
    <div *ngIf="!isNull(selectedTechnology)" class="content d-flex flex-column justify-content-center ">
      <div class="linetext">
        <h2>Це компанія АЛОІЗ!!!!</h2>
        <div class="line"></div>
      </div>
      <p *ngIf="show">це ОПИС </p>
      <input type="button" value="more" >
    </div>
  </div>
</div>

