<div class="bigBlocks d-flex align-items-center">
  <div class="bigLeft d-flex flex-column">
  <div class="allIn  d-flex flex-row">
    <div class="helper"></div>
    <div class="top"></div>
  </div>
    <div class="middle d-flex ">
      <div class="leftBlock">
        <div class="justify-content-center leftBlockContent">
          <div class="line"></div>
          <p>0{{index}}</p>
        </div>
      </div>
      <div class="rightBlock d-flex flex-column justify-content-between">
        <div class="arrowUp d-flex justify-content-center" (click)="scroll(true)">
          <img src="../../../../assets/svg/arrowUp.svg" alt="arrow">
        </div>
        <div>
          <div class="dot" [ngClass]="{'dotActive':index==1}"></div>
          <div class="dot" [ngClass]="{'dotActive':index==2}"></div>
          <div class="dot" [ngClass]="{'dotActive':index==3}"></div>
          <div class="dot" [ngClass]="{'dotActive':index==4}"></div>
          <div class="dot" [ngClass]="{'dotActive':index==5}"></div>
        </div>
        <div class="arrowDown d-flex justify-content-center" (click)="scroll(false)">
          <img src="../../../../assets/svg/arrowDown.svg" alt="arrow">
        </div>
      </div>
    </div>
    <div class="allIn  d-flex flex-row">
      <div class="helper"></div>
      <div class="top2"></div>
    </div>
  </div>
  <div class="bigRight">
      <div class="content d-flex flex-column justify-content-center ">
        <div class="linetext">
          <h2>ui/ux trends</h2>
          <div class="line"></div>
        </div>

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab </p>
        <input type="button" value="more">
      </div>
  </div>
</div>

