button{
  box-sizing: border-box;
  font-size: 2.5vh;
  width: 100%;
  border: 3px solid black;
  background: black;
  color: whitesmoke;
  opacity: .8;
  height: 5vh;
}
button:hover{
  opacity: 1;
}
.active{
  opacity: 1;
}
.kaka{
  width: 100%;
  height: 100%;
  top: 10vh;
  position: absolute;
  background: #415156;
  z-index: 0;
}
