<div class="buttons d-flex justify-content-between">
  <button [routerLinkActive]="['active']"
          routerLink="order-type">order-type</button>
  <button [routerLinkActive]="['active']"
          routerLink="callback-topic">topic</button>

  <button [routerLinkActive]="['active']"
            routerLink="portfolio">portfolio</button>
  <button [routerLinkActive]="['active']"
            routerLink="technology">technology</button>
  <button [routerLinkActive]="['active']"
            routerLink="worker">worker</button>
</div>
<div class="kaka">
  <router-outlet></router-outlet>
</div>
