<div class="main">
  <div class="ServicesTitle">
    <p>SERVICES</p>
  </div>
  <div class="line"></div>
  <div class="content d-flex flex-column ">
    <div class="underContent d-flex justify-content-center ">
      <div class="number ">01</div>
      <div class="text">Sed ut perspiciatis unde omnis iste</div>
    </div>
    <div class="underContent d-flex justify-content-center">
      <div class="number">02</div>
      <div class="text">Sed ut perspiciatis unde omnis iste</div>
    </div>
    <div class="underContent d-flex justify-content-center">
      <div class="number">03</div>
      <div class="text">Sed ut perspiciatis unde omnis iste</div>
    </div>
    <div class="underContent d-flex justify-content-center">
      <div class="number">04</div>
      <div class="text">Sed ut perspiciatis unde omnis iste</div>
    </div>
    <div class="center d-flex justify-content-center">
      <button>START</button>
    </div>



  </div>






</div>
