<div class="main">
  <div class="ServicesTitle">
    <p>SERVICES</p>
  </div>
  <div class="line"></div>
  <div class="content d-flex flex-column ">
    <div class="underContent d-flex justify-content-center "  *ngFor="let one of technology; let i = index;" >
      <div  class=" leftBlock">
        <div class="number" *ngIf="i<=8">{{"0"+(i+1)}}</div>
        <div class="number" *ngIf="i>=9">{{i+1}}</div>
      </div>
      <div class="rightBlock">
        <div class="text">{{one.name}}</div>
      </div>


    </div>

    <div class="center d-flex justify-content-center">
      <button>START</button>
    </div>



  </div>
</div>
