h2 {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  color: #cbcbca;
}

.back {
  height: auto;
  background: #415156;
}

form {
  width: 100%;
}

input[type=text] {
  height: 5vh;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
  padding-left: 1%;
  border-radius: 5px;
}

input::placeholder {
  color: darkgrey;

}

input:focus::placeholder {
  color: black;
  opacity: .8;
}

button {
  margin-top: 10px;
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 28px;
  border-radius: 5px;
}

button:hover {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

button:focus {
  color: black;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid {
  border-left: 5px solid red;
}

button:disabled {
  border-bottom: 3px solid red;
}
