.bock{
  height: 90vh;
}
h2{
  text-transform: uppercase;
  font-family:  RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 35px;
  color: grey;
  padding-top: 10px;
}

div:first-child{
  width: 100%;
  background: #415156;
}

img{
  height: 5%;
  margin-top: 15%;
}
input:not([type='checkbox']) {
  height: 5vh;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
  padding-left: 4%;
}
textarea {
  font-family: RobotoBoldCustom;
  resize: none;
  border: 1px solid #E0E0E0;
  padding-left: 4%;
  height: 50%;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
}
input::placeholder,textarea::placeholder{
  color:#415156 ;
}

input:focus::placeholder{
  color: black;
  opacity: .8;
}

textarea:focus::placeholder{
  color: black;
  opacity: .8;
}

button, label{
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 5px;
}
button:hover, label:hover{
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}
button:focus, label:focus{
  color: #415156 ;
}
.image{
  background-color: grey;
  max-height: 17vw;
  min-height: 17vw;
  max-width:17vw;
  min-width: 17vw;


}
input[type=checkbox]{
  padding: 2px;
  height: 1.5vh;
  margin: 10px 5px 0 0;
}
h3{
  font-size: 2vh;
  margin: 10px 5px 0 0;
  color: lightyellow;
}
img{
  margin: 0;
  max-height: 17vw;
  min-height: 17vw;
  max-width:17vw;
  min-width: 17vw;
}
.bomba{
  margin:20px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  align-content: center;
}

.bomba input{
  width: 65%;
  height: 50px;
}
button{
  margin: 10px 0;
}
