<div class="bock d-flex flex-column align-items-center ">
  <div class="d-flex flex-column align-items-center">
    <h2>Name</h2>
    <input type="text" [(ngModel)]="worker.name"  placeholder="name">
    <br>
    <input type="text"  [(ngModel)]="worker.surname"  placeholder="surname">
    <div class="d-flex justify-content-start">
      <input class="mt-3" type="checkbox" [(ngModel)]="worker.available"  >
      <h3>Available</h3>
    </div>
    <br>
  </div>
  <h2>Incumbency</h2>
  <div class="allIncumb">
    <div class="bomba d-flex" *ngFor="let incumbency of worker.incumbencies; let i = index">
      <input type="text"  placeholder="incumbency name" [(ngModel)]="worker.incumbencies[i].name">
      <button (click)="deleteIncumbency(i)">delete</button>
    </div>
  </div>

  <button (click)="addIncumbency()">add incumbency</button>
  <form action="" #form>
  <input (change)="readUrl($event)" id="file" type="file" class="d-none" name="multipartFile">
  </form>
  <br>
  <div class="image">
    <img [src]="img" alt="">
  </div>
  <label for="file">AddImage</label>
  <button (click)="update(form)">update worker</button>
</div>
