<div class="back d-flex flex-column align-items-center ">
  <div class="d-flex flex-column align-items-center">
    <h2>Name</h2>
    <input type="text" [(ngModel)]="portfolio.name"  placeholder="name">
    <br>
    <input type="text"  [(ngModel)]="portfolio.link"  placeholder="link">
    <div class="d-flex justify-content-start">
      <input class="mt-3" type="checkbox" [(ngModel)]="portfolio.available"  >
      <h3>Available</h3>
    </div>
    <br>
    <div class="right-block d-flex flex-column">
      <div>
        <div>
          <h2>en</h2>
          <textarea *ngIf="start" [(ngModel)]="portfolio.descriptions[0].description"></textarea>
        </div>
        <div>
          <h2>ru</h2>
          <textarea *ngIf="start" [(ngModel)]="portfolio.descriptions[1].description"></textarea>
        </div>
        <div>
          <h2>uk</h2>
          <textarea *ngIf="start" [(ngModel)]="portfolio.descriptions[2].description"></textarea>
        </div>
      </div>
  </div>
</div>
  <div class="image-wrapper flex-column d-flex">
  <div *ngFor="let one of portfolio.images" class="image-one d-flex align-items-end justify-content-center" [style.background]="'url(' + (one.path|imagePipe) + ')'">
      <button (click)="delete(one.id)">delete</button>
  </div>
  <form action="" #form class="d-flex justify-content-center">
    <input (change)="addImage(form)" id="file" type="file" class="d-none" name="multipartFile">
    <label for="file">AddImage</label>
  </form>
  </div>

    <button   (click)="update(form)">update portfolio</button>
</div>
