.back {
  background: #415156;
}

h2 {
  text-transform: uppercase;
  font-family: RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 35px;
  color: grey;
}

input[type=checkbox] {
  padding: 2px;
  height: 1.5vh;
  margin: 10px 5px 0 0;
}

h3 {
  font-size: 2vh;
  margin: 10px 5px 0 0;
  color: lightyellow;
}

form {
  width: 100%;
  background: #415156;
}

img {
  height: 5%;
  margin-top: 15%;
}

input[type=text] {
  height: 5vh;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
  padding-left: 4%;
}

textarea {
  font-family: RobotoBoldCustom;
  resize: none;
  border: 1px solid #E0E0E0;
  padding-left: 4%;
  height: 50%;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
}

input[type=text]::placeholder, textarea::placeholder  {
  color: #415156;
}

input[type=text]:focus::placeholder {
  color: black;
  opacity: .8;
}

textarea:focus::placeholder {
  color: black;
  opacity: .8;
}

button, label {
  margin-top: 10px;
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 5px;
  margin-bottom: 10px;
}

button:hover, label:hover {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

button:focus, label:focus {
  color: #415156;
}

.image-one {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  height: 30vh;
}

img {
  margin: 0;
  background-color: grey;
  max-height: 17vw;
  min-height: 17vw;
}

.image-wrapper {
  width: 40%;
}

