h2 {
  padding: 10px 0;
  text-transform: uppercase;
  font-family: RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  color: #cbcbca;
}

form {
  width: 100%;
}

input[type=text] {
  height: 5vh;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 2.5vh;
  padding-left: 1%;
}

input[type=text]::placeholder {
  color: #415156;
}

input[type=text]:focus::placeholder {
  color: black;
  opacity: .8;
}

input[type=checkbox] {
  padding: 2px;
  height: 2.5vh;
  margin: 10px 5px 0 0;
}

h3 {
  font-size: 2vh;
  margin: 10px 5px 0 0;
  color: lightyellow;
}

button {
  margin-top: 10px;
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 28px;
}

button:hover {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

button:focus {
  color: #415156;
}

