<div class="back d-flex flex-column align-items-center ">
  <div class="d-flex flex-column align-items-center">
  <h2>Name</h2>
  <input type="text" [(ngModel)]="technology.name" placeholder="name">
  <div class="d-flex mt-3 mb-3 row">
      <div class="right-block d-flex flex-row">
          <div>
            <h2>en</h2>
            <textarea *ngIf="start" [(ngModel)]="technology.descriptions[0].description"></textarea>
          </div>
          <div>
            <h2>ru</h2>
            <textarea *ngIf="start"  [(ngModel)]="technology.descriptions[1].description"></textarea>
          </div>
          <div>
            <h2>uk</h2>
            <textarea *ngIf="start"  [(ngModel)]="technology.descriptions[2].description"></textarea>
          </div>
      </div>
    </div>

  <div class="image">
    <img [src]="img" alt="">
  </div>
  <form action="" #form>
    <input (change)="readUrl($event)" id="file" type="file" class="d-none" name="multipartfile">
  </form>
  <br>
  <label for="file">AddImage</label>
  <button   (click)="update(form)">update worker</button>
  </div>
</div>


