.back{
  background: #415156;
  box-sizing: border-box;
}
h2{
  padding-top: 10px;
  text-transform: uppercase;
  font-family:  RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 35px;
  color: grey;
}

form{
  width: 100%;
  background: #415156;
}

img{
  height: 5%;
  margin-top: 15%;
}
input[type=text] {
  height: 5vh;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
  padding-left: 4%;
}
textarea {
  font-family: RobotoBoldCustom;
  resize: none;
  border: 1px solid #E0E0E0;
  padding-left: 4%;
  height: 30vh;
  margin: 10px;
  width: 20vw;
  box-sizing: border-box;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
}
input[type=text]::placeholder{
  color:#415156 ;
}
textarea::placeholder{
  color:#415156 ;
}
input[type=text]:focus::placeholder, textarea:focus::placeholder{
  color: black;
  opacity: .8;
}

button, label{
  margin-top: 10px;
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 5px;
  margin-bottom: 10px;
}
button:hover, label:hover{
  border: 1px solid #E0E0E0;
}
button:focus, label:focus{
  color:#415156 ;
}

img{
  margin: 0;
  background-color: grey;
  max-height: 17vw;
  min-height: 17vw;
}


