<form [formGroup]="workerForm" action="" (submit)="addWorker(form)" #form
      class="d-flex flex-column align-items-center">
  <div class="d-flex flex-column">
  <h2>Name</h2>
  <input type="text" formControlName="name" placeholder="name">
  <input type="text" formControlName="surname" placeholder="surname">
  <br>
  </div>
  <h2>Incumbency</h2>
  <div class=" bomba d-flex" *ngFor="let incumbency of worker.incumbencies; let i = index">
    <input type="text"  placeholder="incumbency name"
           (change)="newIncombency(inc.value, i)" #inc>
    <button (click)="deleteIncumbency(i)">delete</button>
  </div>

  <button (click)="addIncumbency()">add incumbency</button>
  <input (change)="readUrl($event)" id="file" type="file" class="d-none" name="multipartfile">
  <br>
  <div class="image">
    <img [src]="img" alt="">
  </div>
  <label for="file">AddImage</label>
  <button [disabled]="form.invalid"  type="submit">Add worker</button>
</form>
