
h2 {
  text-transform: uppercase;
  font-family: RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 35px;
  color: #cbcbca;
}

input[type=text] {
  height: 5vh;
}

form {
  width: 100%;
  background: #415156;
}

img {
  height: 5%;
  margin-top: 15%;
}

input {
  height: 15%;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 19px;
  padding-left: 4%;
  border-radius: 5px;
}

input::placeholder {
  color: darkgrey;
}

input:focus::placeholder {
  color: black;
  opacity: .8;
}

button, label {
  height: 5vh;
  margin-top: 10px;
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;

}

button:hover, label:hover {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

button:focus, label:focus {
  color: black;
}

img {
  margin: 0;
  background-color: grey;
  max-height: 17vw;
  min-height: 17vw;
}

.bomba {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.bomba input {
  width: 65%;
  height: 50px;
}

.kaka {
  display: none;
}

input.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid green;
}

button:disabled {
  border-bottom: 3px solid red;
}

