<div class="mainContacts">
  <div class="contactsTitle">
    <h2>talk with us</h2>
  </div>
  <div class="lineContacts"></div>
  <div class="quote d-flex justify-content-between">
    <img src="../../../../assets/svg/quotes.svg" alt="">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab </p>
  </div>
  <form [formGroup]="callbackForm" class="d-flex align-items-center flex-column" (submit)="addContacts()">
    <div class="inputs d-flex justify-content-center">
      <div class="fiveLeft d-flex flex-column justify-content-between">
          <input type="text" placeholder="* Name" formControlName="name">
          <input type="text" placeholder="* Email" formControlName="email" [ngClass]="{'invallid':callbackForm.get('email').invalid && callbackForm.get('email').dirty}" >
        <select (change)="checkOrder(sel,sel2) " #sel name="callbackTopic"  required formControlName="callbackTopic">
          <option value="" disabled selected >*Topic</option>
          <option [value]="'VACANCY'" >Vacancy</option>
          <option [value]="'APPEAL'" >Appeal</option>
          <option [value]="'ORDER'" >Order</option>
        </select>
        <select *ngIf="showOrder" [required]="showOrder" formControlName="orderType" #sel2>
          <option value="" disabled selected >*Order type</option>
          <option [value]="'WEBSITE'">Web site</option>
          <option [value]="'DESIGN'" >Design</option>
          <option [value]="'OTHER'" >Other</option>
        </select>
          <input type="text" placeholder="  Phone" formControlName="phone" [ngClass]="{'invallid':callbackForm.get('phone').invalid && callbackForm.get('phone').dirty}">
          <input type="text" placeholder="  Company" formControlName="company">
      </div>
      <div class="oneRight">
          <textarea name=""  cols="30" rows="10" placeholder="* Message" formControlName="message"></textarea>
      </div>
    </div>
      <button [disabled]="callbackForm.invalid">SEND</button>
  </form>
</div>
