<div class="mainContacts">
  <div class="contactsTitle">
    <h2>{{'contacts-h2'|translate}}</h2>
  </div>
  <div class="lineContacts"></div>
  <div class="quote d-flex justify-content-between">
    <img src="../../../../assets/svg/quotes.svg" alt="">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab </p>
  </div>
  <form [formGroup]="callbackForm" class="d-flex align-items-center flex-column" (submit)="addContacts()">
    <div class="inputs d-flex justify-content-center">
      <div class="fiveLeft d-flex flex-column justify-content-between">
          <input type="text" placeholder="{{'contacts-input-name-placeholder'|translate}}" formControlName="name">
          <input type="text" placeholder="{{'contacts-input-email-placeholder'|translate}}" formControlName="email" [ngClass]="{'invallid':callbackForm.get('email').invalid && callbackForm.get('email').dirty}" >
        <select (change)="checkOrder(sel) " #sel name="callbackTopic" formControlName="callbackTopic">
          <option value="" disabled selected >{{'contacts-select-topic-placeholder'|translate}}</option>
          <option [value]="'VACANCY'" >{{'contacts-select-topic-vacancy'|translate}}</option>
          <option [value]="'APPEAL'" >{{'contacts-select-topic-appeal'|translate}}</option>
          <option [value]="'ORDER'" >{{'contacts-select-topic-order'|translate}}</option>
        </select>
        <select *ngIf="showOrder" formControlName="orderType" >
          <option value="" disabled selected >{{'contacts-select-order-placeholder'|translate}}</option>
          <option [value]="'WEBSITE'" [ngClass]="{'invallid':callbackForm.get('email').invalid && callbackForm.get('email').dirty}">{{'contacts-select-order-website'|translate}}</option>
          <option [value]="'DESIGN'" >{{'contacts-select-order-design'|translate}}</option>
          <option [value]="'OTHER'" >{{'contacts-select-order-other'|translate}}</option>
        </select>
          <input type="text" placeholder="{{'contacts-input-phone-placeholder'|translate}}" formControlName="phone" [ngClass]="{'invallid':callbackForm.get('phone').invalid && callbackForm.get('phone').dirty}">
          <input type="text" placeholder="{{'contacts-input-company-placeholder'|translate}}" formControlName="company">
      </div>
      <div class="oneRight">
          <textarea name=""  cols="30" rows="10" placeholder="{{'contacts-textarea-placeholder'|translate}}" formControlName="message"></textarea>
      </div>
    </div>
      <button [disabled]="callbackForm.invalid">{{'contacts-button'|translate}}</button>
  </form>
</div>
