button{
  box-sizing: border-box;
  font-size: 2.5vh;
  width: 100%;
  border: 3px solid black;
  background: black;
  color: whitesmoke;
  opacity: .8;
  height: 5vh;
}
button:hover{
  opacity: 1;
}
.active{
  opacity: 1;
}
.buttons{
  height: 35%;
  width: 100%;
}
.kaka{
  width: 80%;
  height: 85%;
  top: 15vh;
  left: 20%;
  position: absolute;
  background: #415156;
  z-index: 0;
}

.kaka2{
  width: 100%;
  height: 60%;
  top: 40vh;
  position: absolute;
  background: #415156;
  z-index: 0;
}
