<div class="allIn d-flex">
  <div class="buttons d-flex flex-column justify-content-between">
    <button [routerLinkActive]="['active']" routerLink="order-type">order-type</button>
    <button  [routerLinkActive]="['active']" routerLink="callback-topic">topic</button>
    <button [routerLinkActive]="['active']" routerLink="portfolio">portfolio</button>
    <button [routerLinkActive]="['active']" routerLink="technology">technology</button>
    <button [routerLinkActive]="['active']" routerLink="worker">worker</button>
    <div class="kaka2"></div>
  </div>
  <div class="kaka">
    <router-outlet></router-outlet>
  </div>
</div>
