button {
  box-sizing: border-box;
  font-size: 2.5vh;
  width: 100%;
  border: 3px solid black;
  background: black;
  color: whitesmoke;
  opacity: .8;
  height: 7vh;
}

button:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.buttons {
  height: 35%;
  width: 100%;
}

.kaka {
  width: 80%;
  height: 100vh;
  top: 15vh;
  left: 20%;
  position: absolute;
  background: #415156;
  z-index: 0;
  margin-top: -15vh;
  overflow: auto;
}

.backgroundCool {
  height: 51vh;
  background: #415156;
}
