<div class="menu  d-flex align-items-center" *ngIf="show" >
  <div class="blur"></div>
  <div class="navigation d-flex justify-content-center flex-column align-items-center"
  >
    <div [routerLink]="['/']" (click)="closeMenu()" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}">
      <img src="../../../assets/svg/Ellipse%202.svg" alt="">
      <h2>{{'menu-nav-3'|translate}}</h2>
    </div>
    <div [routerLink]="['/about']" (click)="closeMenu()" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}">
      <img src="../../../assets/svg/Ellipse%202.svg" alt="">
      <h2>{{'menu-nav-1'|translate}}</h2>
    </div>
    <div [routerLink]="['/services']" (click)="closeMenu()" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}">
      <img src="../../../assets/svg/Ellipse%202.svg" alt="">
      <h2>{{'menu-nav-2'|translate}}</h2>
    </div>
    <div [routerLink]="['/portfolio']" (click)="closeMenu()" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}">
      <img src="../../../assets/svg/Ellipse%202.svg" alt="">
      <h2>{{'menu-nav-4'|translate}}</h2>
    </div>
    <div [routerLink]="['/contacts']" (click)="closeMenu()" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact: true}">
      <img src="../../../assets/svg/Ellipse%202.svg" alt="">
      <h2>{{'menu-nav-5'|translate}}</h2>
    </div>
    <div class="links">

    </div>
  </div>
  <div class="d-flex h-100 align-items-center w-100">
  <div class="text d-flex align-items-center justify-content-center">
    <h1>ALLOIZ</h1>
  </div>
  <div class="select-lang flex-column  d-flex align-items-center justify-content-center" >
    <h2 (click)="switchLang('en')">EU</h2>
    <h2 (click)="switchLang('uk')">UA</h2>
    <h2 (click)="switchLang('ru')">RU</h2>
  </div>
  </div>
  <img src="../../../assets/svg/cancel.svg" alt="close" class="cancel" (click)="closeMenu()">
</div>
