.col-3{
  cursor: pointer;
  height: 300px;
}
img{
  width: 70%;
  height: 70%;
  cursor: pointer;
}
.row{
  background: #98AD38;
}
.hundred{
  padding: 2% 0;
  width: 25%;
  margin: 0;
}
.back{
  background: #98AD38;
  height: 90vh;

  box-sizing: border-box;
}
