<div *ngFor="let callback of callbacks|reverse; let i = index" class="inputs row  ">
  <div class="col-6 fiveLeft d-flex flex-column justify-content-between align-items-start">
    <div class="row m-0 d-flex w-100">
      <h2 class="col-6">Name:</h2>
      <input type="text" disabled class="col-6  " [(ngModel)]="callback.name" #nameTopic>
    </div>
    <div class="row m-0 w-100">
      <h2 class="col-6">mail:</h2>
      <input type="text"  disabled class="col-6  " [(ngModel)]="callback.email" #emailTopic>
    </div>
    <div class="row m-0 w-100">
      <h2 class="col-6">phone:</h2>
      <input type="text"disabled class="col-6  " [(ngModel)]="callback.phone" #phoneTopic>
    </div>
    <div class="row m-0 w-100">
      <h2 class="col-6">Company:</h2>
      <input type="text"disabled class="col-6  " [(ngModel)]="callback.company" #companyTopic>
    </div>
    <div class="row m-0 w-100">
      <h2 class="col-6">Data:</h2>
      <input type="text"  disabled class="col-6  " [ngModel]="callback.datetime | datePipe"
             (ngModelChange)="callback.datetime=$event">
    </div>
    <div class="row m-0 w-100">
      <h2 class="col-6">Topic:</h2>
      <input type="text"  disabled class="col-6  "  [(ngModel)]="callbackTopic[callback.callbackTopic]">
    </div>
    <div class="row m-0 w-100" *ngIf="callback.callbackTopic=='ORDER'">
      <h2 class="col-6">Order:</h2>
      <input type="text"  disabled class="col-6  "  [(ngModel)]="orderType[callback.orderType]">
    </div>
  </div>
  <div class="oneRight col-6">
    <div class="d-flex flex-column ">
      <h2>Message:</h2>
      <textarea name="" cols="30" rows="10" placeholder="* Message" disabled class="col-6  "
                [(ngModel)]="callback.message"></textarea>
    </div>
  </div>
</div>

