<form [formGroup]="portfolioForm" action="" (submit)="addWorker(form)" #form >
  <input type="text" formControlName="name" placeholder="name">
  <input type="text" formControlName="surname" placeholder="surname">
  <button (click)="addIncumbency()">add incumbency</button>
  <input (change)="readUrl($event)"  id="file" type="file" class="d-none" name="multipartfile">
  <img [src]="img" alt="">
  <label for="file">AddImage</label>
  <div >
    <div *ngFor="let one of incumbencies;let i = index" class="d-flex">
      <input  (change)="incumbencies[i].name=value.value" #value type="text">
      <button (click)="deleteIncumbency(i)">delete</button>
    </div>
  </div>
  <button [disabled]="portfolioForm.invalid"  type="submit">asdsadas</button>
</form>

<h1>{{date|datePipe}}</h1>
