<div class="main" *ngIf="async">
  <div appMouseWheel (mouseWheelUp)="mouseWheelUpFunc()"
       (mouseWheelDown)="mouseWheelDownFunc()" class="sideDiv justify-content-center position-relative">
    <div class="position-absolute top"></div>
    <h4
      #element

      *ngFor="let one of portfolios;let i = index"
        (click)="move(i)"
    [ngClass]="{
    'first-empty-space':startIndex==-2&&i==0,
    'empty-space':startIndex==-1&&i==0,
      'current': i==currentIndex,
      'siders':i==startIndex+1||i==endIndex-1&&i!=length-1&&currentIndex!=length-2,
      'enders':i==startIndex||i==endIndex,
      'mt-0':i==startIndex&&currentIndex!=1&&currentIndex!=0,
      'mb-0':i==endIndex,
      'd-none':i>endIndex||i<startIndex,
      'bot-empty-space':i==length-1&&currentIndex==length-2,
      'bot-last-empty-space':i==length-1&&currentIndex==length-1
    }"

    >{{one.name}}</h4>
  </div>
  <div class="arrow"></div>
  <div class="slider">
    <h2 class="heading-text position-relative">{{selectedPortfolio.name}} <div class="text-border"></div></h2>
    <div id="carouselExampleFade" class="carousel slide h-100 carousel-fade position-relative" data-ride="carousel">
      <div class="carousel-inner position-relative ">
        <div class="carousel-item  " *ngFor="let one of selectedPortfolio.images;let i = index">
          <div class="h-100 w-100  d-flex align-items-end"
               [style.background]="'url(' + (one.path|imagePipe) + ')'">
          </div>
        </div>
        <h3 class="text" *ngIf="async">{{selectedPortfolio.descriptions[0].description}}</h3>
      </div>
      <div class="control position-absolute d-flex ">
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</div>





