<form [formGroup]="technologyForm" action="" (submit)="addTech(form)" #form
      class="d-flex flex-column align-items-center">
  <br>
  <h2>Name</h2>
  <br>
  <input type="text" formControlName="name" placeholder="name">
  <br>
  <input (change)="readUrl($event)" id="file" type="file" class="d-none" name="multipartFile">
  <div class="allIn d-flex">
    <div class="right-block d-flex flex-column">
      <div>
        <div>
          <h2>en</h2>
          <textarea formControlName="textareaEN"  (change)="addDesc(val.value,0)" #val></textarea>
        </div>
        <div>
          <h2>ru</h2>
          <textarea formControlName="textareaRU" (change)="addDesc(val1.value,1)" #val1></textarea>
        </div>
        <div>
          <h2>uk</h2>
          <textarea formControlName="textareaUK" (change)="addDesc(val2.value,2)" #val2></textarea>
        </div>
      </div>
    </div>
  </div>
  <div  [ngClass]="{'kaka' :appear}"  class="image">
    <img [src]="img" alt="">
  </div>
  <div class="d-flex flex-column">
    <label  (click)="toggle()" for="file">AddImage</label>
    <button [disabled]="form.invalid" class="button" type="submit">Add tech</button>
  </div>
</form>



