.twoBlocks{
  width: 50%;
  padding-top: 30px;
}
.right-block{
  width: 30%;
}
.left-block{
  width: 30%;
}
h2{
  text-transform: uppercase;
  font-family:  RobotRegularCustom;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 35px;
  color: #cbcbca;
}

form{
  width: 100%;
  background: #415156;
  /*height: 90vh;*/
}

img{
  /*height: 5%;*/
  margin: 15% 0;
}
input[type=text] {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-family: RobotoBoldCustom;
  font-style: normal;
  line-height: 35px;
  font-size: 2.5vh;
  padding-left: 1%;
  height: 5vh;
  border-radius: 5px;

}
textarea {
  font-family: RobotoBoldCustom;
  resize: none;
  border: 1px solid #E0E0E0;
  padding-left: 4%;
  height: 10vh;
  margin: 10px;
  box-sizing: border-box;
  font-style: normal;
  line-height: 35px;
  font-size: 2.5vh;;
  width: 314%;
  border-radius: 5px;
}
input::placeholder{
  color:darkgrey ;
}
textarea::placeholder{
  color:darkgrey ;
}
input:focus::placeholder{
  color: black;
  opacity: .8;
}

textarea:focus::placeholder{
  color: black;
  opacity: .8;
  border-radius: 5px;
}

button,label{
  margin-top: 10px;
  font-family: RobotoBoldCustom;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vh;
  text-align: center;
  color: #4E5D7A;
  background: white;
  border: 1px solid #4E5D7A;
  padding: 10px;
  margin-bottom: 10px;
  height: 5vh;
  border-radius: 5px;
}
button:hover, label:hover{
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}
button:focus, label:focus{
  color:black ;
}

/*.image{*/
  /*margin-top: 20px;*/
  /*background-color: grey;*/
  /*max-height: 17vw;*/
  /*min-height: 17vw;*/
  /*max-width:17vw;*/
  /*min-width: 17vw;*/
/*}*/
img{
  margin: 0;
  background-color: grey;
  max-height: 17vw;
  min-height: 17vw;
  /*max-width:17vw;*/
  /*min-width: 17vw;*/
}

.allIn{
  /*height: 10%;*/
  padding-bottom: 20px  ;
}
.kaka{
  display: none;
}

input.ng-invalid,textarea.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid,textarea.ng-valid  {
  border-left: 5px solid green;
}

button:disabled{
  border-bottom: 3px solid red;
}
